// @file
// Custom sass variables
//
// Define the custom variables for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Layout
$gutter-width: 48px;

// Colors
$f1-red: #ef4836;
$f1-teal: #7ccfd9;
$f1-white: #fdf9ed;
$f1-ash: #555559;
$f1-warm-gray: #f6eee4;
$f1-cool-gray: #f1f1f1;
$highlight-color: $f1-teal;
$primary-text-color: $f1-white;
$secondary-text-color: #ccc;
$heading-text-color: $primary-text-color;
$body-color: #333;
$link-color: $f1-teal;
$link-hover-color: lighten($link-color, 10%);
$link-underline-color: darken($link-color, 15%);
$link-underline-hover-color: $link-hover-color;
$link-underline-width: (1 / 16);
$link-underline-offset: (1.5 / 16);
$selection-background: #000;
$selection-foreground: #fff;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Typography
$base-font-family: SourceSansPro, Metric, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: SourceSansPro, Metric, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
$base-font-size: 48px;
$base-line-height: 60px;
$font-size-xxl: 72px;
$font-size-xl: 60px;
$font-size-lg: 54px;
$font-size-normal: $base-font-size;
$font-size-md: 36px;
$font-size-sm: 32px;

// Buttons
$button-bg-color: #f9f9f9;
$button-text-color: #333;
$button-font-family: $base-font-family;
